 /* Footer */
        footer {
            /* background: #1a1a1a; */
            color: rgb(0, 0, 0);
            /* padding: 3rem 2rem; */
            margin-top: 4rem;
        }

        .footer-container {
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 2rem;
            margin-bottom: 100px;
        }
        .footer-container img{
            text-align: center;
            max-width: 620px;
            margin: 0 auto;
        }

        .footer-section h4 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: #FFD700;
        }

        .footer-section p,
        .footer-section a {
            font-size: 1.1rem;
            color: #ccc;
            text-decoration: none;
            display: block;
            margin-bottom: 0.5rem;
        }

        .footer-section a:hover {
            color: #FFD700;
        }

        .footer-bottom {
            text-align: center;
            /* margin-top: 2rem;
            padding-top: 2rem; */
            border-top: 1px solid #444;
            font-size: 1rem;
        }

         /* Mobile Responsive */
        @media (max-width: 768px) {
            footer {
                /* padding: 2rem 1rem; */
            }
        }