/* Hero Section */
        .hero {
            position: relative;
            /* height: 100vh; */
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
        .hero-green {
            position: relative;
            background: #9cfe7d;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
        .hero-content img{
            margin-top: 150px;
            width: 90%;
        }
        .hero-content p{
            text-align: center;
            line-height: 40px;
            max-width: 620px;
            margin: 0 auto;
            font-size: 40px;
            margin-top: 90px;
        }

        .hero-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.6);
        }

        .hero-content {
            position: relative;
            z-index: 10;
            text-align: center;
        }

        .hero-title {
            color: #000000;
            margin-top: 60px;
        }

         /* Mobile Responsive */
        @media (max-width: 768px) {
            .hero-title {
                letter-spacing: -1px;
                font-size: clamp(1rem, 9vw, 3rem);
                margin-top: 40px;
            }
            .hero-content img {
                margin-top: 85px;
                width: 100%;
            }
            .hero-content p {
                font-size: 28px;
                margin-top: 40px;
            }
        }