    .card { width:100%; border-radius:10px; }
    .swiper { width: 100%; height: 800px; }
    .swiper-slide { display:flex; align-items:center; justify-content:center; font-size:18px; color:#fff; height: 800px; border-radius:8px; }
    /* Image styling */
    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* crop perfectly */
      display: block;
    }

    /* bigger nav buttons */
    .swiper-button-next,
    .swiper-button-prev {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 80px;
      color: #fff;
      font-weight: bold;
    }

    @media (max-width:700px) {
      .swiper { width: 100%; height: 400px; }
      .swiper-slide { height: auto; }
    }